

.form__textarea {
    width: 460px;
    height: 180px;
    padding: 10px;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    border: 2px solid #74637f;
    border-radius: 0;
    color: #444;
    background-color: #9399e5;
    overflow: auto;
    resize: none;
    transition: transform 1s;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    svg {
        height: 55px;
        width: 150px;
        fill: none;
        stroke-width: 5;
        .o1 {
            stroke: rgba(#FFB341, 0.7);
            fill: #FFA114;
            transition: all 1s ease-in-out;
        }
        .o2 {
            stroke: white;
            stroke-dasharray: 20, 420;
            stroke-dashoffset: 20;
            transition: all 1s ease-in-out;
        }
    }

    span {
        position: absolute;
        margin: auto 0;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    &:hover {
        .o1{
            fill: rgba(#CC8110, 0.3);
        }

        .o2 {
            stroke-dashoffset: -420;
        }
    }
}
